* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 60%;
}

body {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

.button {
    cursor: pointer;
}

/* Container */
.container, .actions__container {
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
}

/* Header */
.header {
    color: white;
    background-color: #226666;
}

.header__title {
    font-size: 35px;
    margin-bottom: .4rem;
}

.header__subtitle {
    font-size: 17px;
}

/* Actions */
.actions {
    background-color: #D4D7DB;
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid #dedfe0;
    padding-bottom: 38px;
}

.actions__container {
    align-items: center; 
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.dropdown {
    border-radius: 0;
    border: 1px solid #DEDFE0;
    background: white;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
}

.filter {
    height: 29px;
    border-radius: 5px;
    padding: 10px;
}

.dropdown {
    border-radius: 5px;
    padding: 5px;
}